.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/rss-parser/**
!node_modules/entities/**
!node_modules/xml2js/**
!node_modules/sax/**
!node_modules/xmlbuilder/**
out/test/**
scripts
.github
**/*.vsix
